@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{ 
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box ;
    text-decoration: none;
}

body{
    background-color: #fff ;
    color: #22333b;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

header{
    display: flex;
    justify-content: center;
    height: 80px;

    position: fixed;
    width: 100%;
}

.navbar{
    margin-top: 30px;
    border-radius: 90px;
    background-color: #22333b;
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar a{
    color: white;
    position: relative;
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 400;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #648767;
    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s;
}
.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.container1{
    height: 865px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#formulario{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contatenos{
    width: 900px;
    display: flex;
    flex-direction: row;

    font-weight: 500;
    font-size: 40px;
}

#contatenos #contate-{
    color: #22333b;
}

#contatenos #nos{
    color: #648767;
}

#into-formulario{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #22333b;
}

.conteudo-footer{
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-texto{
    color: white;
}

#into-formulario > input{
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    background-color: #b9cdc1;

    width: 900px;
    padding: 10px;
}

#into-formulario > input:focus {
    outline: none;
}


/* xxxxxxxxxxxxxxxxxxxxxxx */


#mensagem{
    height: 300px;
    display: flex;
    
}

/* xxxxxxxxxxxxxxxxxxxxx */

#enviar-mensagem{
    background: linear-gradient(to right, #22333b, #648767);
    border: none;
    transform: skewx(-12deg);
    padding: 5px 30px;

    transition: all 0.5s ease;
}

#enviar-mensagem:hover{
    transform: scale(1.10) skewx(-15deg);
}

#enviar-mensagem1{
    color: white;
    padding: 10px 30px;
    font-style: italic;
    font-weight: 600;
}


/*Dark-Mode */

.toggle-button { 
    position: fixed;
    right: 40px;
    top: 55px;

    float: right; 
    background: none; 
    border: none; 
    cursor: pointer; 
    display: flex; 
    align-items: center;
}

#toggle-icon { 
    width: 30px; 
    height: 30px; 
    display: flex;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 120px;
}

.dark-mode { 
    background-color: #648767; 
    color: white; 
}
.dark-mode .navbar { 
    background-color: #fff;
}
.dark-mode .header-links{
    color: #22333b;
}
.dark-mode #contatenos #contate-{
    color: white
}
.dark-mode #contatenos #nos{
    color: white
}

.dark-mode .footer-texto{
    color: #22333b;
}
.dark-mode .conteudo-footer{
background-color: #fff;
}

.dark-mode #enviar-mensagem{
    border: 4px solid #22333b;
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxx */

#contatenos {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media(max-width: 768px){

    #contatenos{
        width: 600px;
    }

    #into-formulario > input{
        max-width: 600px;
    }

    .navbar{
        margin-top: 30px;
        border-radius: 90px;
        background-color: #22333b;
        width: 600px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toggle-button { 
        position: fixed;
        right: 40px;
        top: 40px;
    
        float: right; 
        background: none; 
        border: none; 
        cursor: pointer; 
        display: flex; 
        align-items: center;
    }

}

@media(max-width: 450px){

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container1{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .conteudo-container{
        display: flex;
        flex-direction: column;
        width: 400px;
        display: flex;
        align-items: start;
    
        gap: 10px;
    }

    .navbar{
        margin-top: 30px;
        border-radius: 90px;
        background-color: #22333b;
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header{
        width: 300px;
    }

    header .navbar a{
        color: white;
        position: relative;
        display: inline-block;
        margin: 0 5px;
        font-size: 15px;
        font-weight: 400;
    }

    .toggle-button { 
        position: absolute;
    
        float: right; 
        background: none; 
        border: none; 
        cursor: pointer; 
        display: flex; 
        align-items: center;
    }

    #toggle-icon { 
        width: 25px; 
        height: 25px;
    }

    #contatenos{
        width: 400px;
    }

    #into-formulario > input{
        max-width: 400px;
    }

    .navbar{
        margin-top: 30px;
        border-radius: 90px;
        background-color: #22333b;
        width: 400px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .toggle-button { 
        position: fixed;
        right: 40px;
        top: 40px;
    
        float: right; 
        background: none; 
        border: none; 
        cursor: pointer; 
        display: flex; 
        align-items: center;
    }
}